*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #161B21;
}
html{
    scroll-behavior: smooth;
}
@font-face {
    font-family: eina;
    src: url(./fonts/Eina01-Regular.ttf);
}
#header{
    background-color: #161B21;
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    transition: all 0.35s ease-in-out;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    border-bottom: 2px solid white;
    top: 0;
    overflow: hidden;
}

.logo{
    width: 100px;
    margin: -25px 0px 0px 25px;
}
.nav ul li{
    display: inline;
    font-family: eina;
    color: #F4A950;
    margin: 0px 50px 0px 0px;
    font-size: 20px;
    font-weight: bold;
}
.nav a {text-decoration: none;}
.ityped-cursor {
    font-size: 2.2rem;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}
.infocontainer{
    background-color: hsl(0, 0%, 100%, 6%);
    position: relative;
    top: 125px;
    height: 281px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
}
.infocontainer h1{
    font-size: 51px;
    color: #F4A950;
    font-family: eina;
    margin-top: -20px;
    text-shadow: 6px 6px 7px #272727;
}
.infocontainer h2{
    font-size: 32px;
    color: #F4A950;
    font-family: eina;
}
.separator{
    border-bottom: 7px solid white;
    width: 100%;
    top: 150px;
    position: relative;
    margin-bottom: 1000px;
}
@media only screen and (max-width: 767px){

}